{% load static %}

<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <!-- Logo -->
            <div class="header-left">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'frontEnd/assets/img/logo/logo_.png' %}" alt=""></a>
                </div>
                <div class="menu-wrapper  d-flex align-items-center">
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="">Sobre</a></li>
                                <li><a href="">Serviços</a></li>
                                <li><a href="">Pedidos</a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'pedido' %}">Consultar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="header-right d-none d-lg-block">
               <a href="{% url 'pedidoAdd' %}" class="header-btn2">Pedido</a>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>