{% extends 'BackEnd/layout/index.html' %}

{% load static %}

{% block Conteudo %}
{% comment %} TABELA PARA AS RESERVAS A SAIR {% endcomment %}
<div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="row">
            <div class="col-xl-12">
              <div class="card">

                <div class="card-body table-responsive">
                  <h5 class="card-title">AS RESERVAS POR LEVANTAR</h5>
    
                  {% if FormAtender.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ FormAtender.errors }}</strong>
                    </div>
                  {% endif %}
                  {% if FormPagamento.errors %}
                    <div class="alert alert-danger">
                      <strong>{{ FormPagamento.errors }}</strong>
                    </div>
                  {% endif %}
    
                  <div class="table-responsive">
                    <div
                      id="datatable2_wrapper"
                      class="dataTables_wrapper dt-bootstrap4 no-footer"
                    >
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          {% if tem_reservas_Sair %}
                          <table
                            id="datatable2"
                            class="table dataTable no-footer"
                            aria-describedby="datatable2_info"
                          >
                            <thead>
                              <tr class="">
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Cod Reserva: activate to sort column ascending"
                                  style="width: 120.5px"
                                >
                                Cod Reserva
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Nome: activate to sort column ascending"
                                  style="width: 120.891px"
                                >
                                Nome
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Data de Saida: activate to sort column ascending"
                                  style="width: 120.891px"
                                >
                                Data de Saida
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Data de Entrada: activate to sort column ascending"
                                  style="width: 120.891px"
                                >
                                Total
                                </th>
                                <th
                                  class="sorting"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="Total: activate to sort column ascending"
                                  style="width: 106.297px"
                                >
                                Estado
                                </th>
                                <th
                                  class="sorting sorting_asc"
                                  tabindex="0"
                                  aria-controls="datatable2"
                                  rowspan="1"
                                  colspan="1"
                                  aria-label="accao: activate to sort column descending"
                                  style="width: 96.7031px"
                                  aria-sort="ascending"
                                >
                                Acção
                                </th>
                              </tr>
                            </thead>
    
                            <tbody>
                                    
                            {% for Reserva in Reservas %}
                              <tr class="odd">
                                <td class="">{{ Reserva.codigo_reserva }}</td>
                                <td class="">{{ Reserva.cliente.nome }}</td>
                                <td>{{ Reserva.data_saida }}</td>
                                <td>{{ Reserva.total }} kz</td>
                                {% if Reserva.estado == 1 %}
                                    <td class="sorting_1">
                                      <span class="badge bg-warning">Por Levantar</span>
                                    </td>
                                  {% elif Reserva.estado == 2 %}
                                    <td>
                                      <span class="badge bg-warning">Processando</span>
                                    </td>
                                  {% endif %}
                                  <td>
                                    
                                    {% if Reserva.data_saida == DataHoje %}
                                      <a href="{% url 'Levantar' idReserva=Reserva.id %}" id="LevantarButton" class="btn btn-light" 
                                      data-bs-toggle="modal" data-bs-target="#sairCliModal" data-codigo="{{ Reserva.codigo_reserva }}" 
                                      data-nome="{{ Reserva.cliente.nome }}" data-data_reserva="{{ Reserva.data_reserva }}" 
                                      data-data_saida="{{ Reserva.data_saida }}" data-total="{{ Reserva.total }}" 
                                      data-estado="{{ Reserva.estado }}">Levantar</a>
                                    {% else %}
                                      <button class="btn btn-light" disabled>Levantar</button>
                                    {% endif %}
                                      
                                  </td>
                              </tr>
                            {% endfor %}
                              
                            </tbody>
                          </table>
                        {% else %}
                          <h1>Não tem Roupas por Se levantar</h1>
                        {% endif %}
                        </div>
                      </div>
                      
                    </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="sairCliModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title align-self-center" id="sairCliModal1">Levantar Roupas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="FormLevantar" action="" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-1" class="form-label">Cod Reserva</label>

                  <p id="codigo_reserva">Nnnsnsnsn</p>
                </div>
                <div class="mb-3">
                  <label for="field-1" class="form-label">Nome do Cliente</label>
                  <p id="cliente_nome">Nnnsnsnsn</p>
                </div>

                <div class="mb-3">
                  <label for="field-2" class="form-label">Data da Reserva</label>
                  <p id="data_reserva">sdsdsd</p>
                </div>
              </div>
              <!-- end col -->

              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-2" class="form-label">Data de Saida</label>
                  <p id="data_saida">sdsdsd</p>
                  <input type="hidden" name="data_saida">
                </div>
                <div class="mb-3">
                  <label for="field-1" class="form-label">Total</label>
                  <p id="total">Nnnsnsnsn</p>
                </div>
              </div>

              <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="field-3" class="form-label">Estado de Pagamento</label>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="mb-3">
                    <h3 id="estado" style="color: greenyellow;">Nnnsnsnsn</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Levantar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end modal -->

{% comment %} TABELA PARA AS RESERVAS ATENDIDAS E NÃO LEVANTADAS {% endcomment %}
{% endblock %}