{% extends "BackEnd/layout/index.html" %} 

{% load static %} 

{% block Conteudo %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <!-- start page title -->
      <div class="row">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4">Todas as Reserevas</h5>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      {% if tem_reservas %}
                      <table
                        class="table table-hover table-centered table-nowrap mb-0"
                      >
                        <thead>
                          <tr>
                            <th>Cod Reserva</th>
                            <th>Nome</th>
                            <th>Data da Marcação</th>
                            <th>Data de Entrada</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Progress</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for Reserva in Reservas %}
                          <tr>
                            <td>{{ Reserva.codigo_reserva }}</td>
                            <td>{{ Reserva.cliente.nome }}</td>
                            <td>{{ Reserva.data_reserva }}</td>
                            <td>{{ Reserva.data_entrada }}</td>
                            <td>{{ Reserva.total }}</td>
                            {% if Reserva.estado %}
                            <td><span class="badge bg-primary">Pago</span></td>
                            {% else %}
                            <td>
                              <span class="badge bg-warning">Pendente</span>
                            </td>
                            {% endif %}
                            <td>
                              <small class="float-end ms-2 font-size-12"
                                >92%</small
                              >
                              <div class="progress mt-2" style="height: 5px">
                                <div
                                  class="progress-bar bg-primary"
                                  role="progressbar"
                                  style="width: 92%"
                                  aria-valuenow="92"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      {% else %}
                      <h1>Não tem marcações por enquanto</h1>
                      {% endif %}
                    </div>
                    <!--end table-responsive-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end col -->
          <!-- <div class="col-xl-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title mb-4">Activity</h5>
                <div data-simplebar style="max-height: 425px">
                  <div class="activity">
                    <i class="mdi mdi-check text-primary"></i>
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          5 mins ago
                        </div>
                        <h5 class="mb-1">Task finished</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <img
                      src="{% static 'BackEnd/assets/images/users/user-3.jpg' %}"
                      alt=""
                      class="img-activity"
                    />
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          30 mins ago
                        </div>
                        <h5 class="mb-1">Task Overdue</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <i class="mdi mdi-alert-outline text-danger"></i>
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          50 mins ago
                        </div>
                        <h5 class="mb-1">Task finished</h5>
                        <p class="text-muted font-size-13">
                          There are many variations of passages of Lorem Ipsum
                          available.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <i class="mdi mdi-comment-outline text-info"></i>
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          1 Day ago
                        </div>
                        <h5 class="mb-1">New Comment</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>

                    <img
                      src="{% static 'BackEnd/assets/images/users/user-2.jpg' %}"
                      alt=""
                      class="img-activity"
                    />
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          5 mins ago
                        </div>
                        <h5 class="mb-1">Task Overdue</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <i class="mdi mdi-check text-primary"></i>
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          5 mins ago
                        </div>
                        <h5 class="mb-1">Task finished</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <img
                      src="{% static 'BackEnd/assets/images/users/user-3.jpg' %}"
                      alt=""
                      class="img-activity"
                    />
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          30 mins ago
                        </div>
                        <h5 class="mb-1">Task Overdue</h5>
                        <p class="text-muted font-size-13">
                          Lorem ipsum dolor sit amet.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                    <i class="mdi mdi-alert-outline text-danger"></i>
                    <div class="time-item">
                      <div class="item-info">
                        <div class="text-muted float-end font-size-12">
                          50 mins ago
                        </div>
                        <h5 class="mb-1">Task finished</h5>
                        <p class="text-muted font-size-13">
                          There are many variations of passages of Lorem Ipsum
                          available.
                          <a href="#" class="text-info">[more info]</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-3">
                  <a href="#" class="btn btn-primary">View more</a>
                </div>
              </div>
            </div>
          </div> -->
          <!-- end col -->
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
