{% extends 'BackEnd/layout/index.html' %}

{% load static %}

{% block Conteudo %}
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title mb-4">Todas as Reserevas</h5>
                  {% if FormAtender.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ FormAtender.errors }}</strong>
                            </div>
                            {% endif %}
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="table-responsive">
                        {% if tem_reservas %}
                          <table id="tabela" class="table table-hover table-centered table-nowrap mb-0">
                            <thead>
                              <tr>
                                <th>Cod Reserva</th>
                                <th>Nome</th>
                                <th>Data da Marcação</th>
                                <th>Data de Entrada</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Progress</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for Reserva in Reservas %}
                                <tr>
                                  <td>{{ Reserva.codigo_reserva }}</td>
                                  <td>{{ Reserva.cliente.nome }}</td>
                                  <td>{{ Reserva.data_reserva }}</td>
                                  <td>{{ Reserva.data_entrada }}</td>
                                  <td>{{ Reserva.total }}</td>
                                  {% if Reserva.estado %}
                                    <td>
                                      <span class="badge bg-primary">Pago</span>
                                    </td>
                                  {% else %}
                                    <td>
                                      <span class="badge bg-warning">Pendente</span>
                                    </td>
                                  {% endif %}
                                  <td>
                                    <a href="{% url 'atender' idReserva=Reserva.id %}" id="AtenderButton" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#atenderCliModal"
                                    data-codigo="{{ Reserva.codigo_reserva }}" 
                                    data-nome="{{ Reserva.cliente.nome }}"
                                    data-data_reserva="{{ Reserva.data_reserva }}"
                                    data-data_entrada="{{ Reserva.data_entrada }}"
                                    data-total="{{ Reserva.total }}"
                                    data-estado="{{ Reserva.estado }}"
                                    data-total = "{{ Total }}">
                          Atender</a>
                                  </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        {% else %}
                          <h1>Não tem marcações por enquanto</h1>
                        {% endif %}
                      </div>
                      <!-- end table-responsive -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->

  <div class="modal fade" id="atenderCliModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title align-self-center" id="atenderCliModal1">Atender Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="FormAtender" action="" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-1" class="form-label">Cod Reserva</label>
                  
                  <p id="codigo_reserva">Nnnsnsnsn</p>
                </div>
                <div class="mb-3">
                  <label for="field-1" class="form-label">Nome do Cli</label>
                  <p id="cliente_nome">Nnnsnsnsn</p>
                </div>
                
                <div class="mb-3">
                  <label for="field-2" class="form-label">Data da Reserva</label>
                  <p id="data_reserva">sdsdsd</p>
                </div>
              </div>
              <!-- end col -->
  
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="field-2" class="form-label">Data de Entrada</label>
                  <p id="data_entrada">sdsdsd</p>
                </div>
                <div class="mb-3">
                  <label for="field-1" class="form-label">Total</label>
                  <p id="total">Nnnsnsnsn</p>
                </div>
                
                  <div class="mb-3">
                    <label for="field-1" class="form-label">Data de Saida</label>
                    
                    <input type="date" required class="form-control" name="data_saida">
                  </div>
              </div>
              
              <!-- end col -->
            </div>
            <!-- end row -->
  
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3">
                  <label for="field-3" class="form-label">Pagamento</label>
                </div>
              </div>
            </div>
            <!-- end row -->
  
            <div class="row">
              <div class="col-md-12">
                <div class="mb-3 no-margin">
                  <label for="field-7" class="form-label">Personal Info</label>
                  <textarea class="form-control" id="field-7" placeholder="Write something about yourself" style="margin-top: 0px; margin-bottom: 0px; height: 137px"></textarea>
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Atender</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end modal -->

{% endblock %}
