{% extends 'BackEnd/layout/index.html' %} {% load static %} {% block Conteudo %}
  <div class="main-content">
    <div class="page-content">
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
              <h4 class="mb-0 font-size-18">Perfil</h4>

              <div class="page-title-right">
                <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Azul Claros</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a href="javascript: void(0);">Pages</a>
                  </li>
                  <li class="breadcrumb-item active">Perfil</li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3">
            <div class="card profile">
              <div class="card-body">
                <div class="text-center">
                  <img src="{{ Func.img.url }}" alt="" class="rounded-circle img-thumbnail avatar-xl" />

                  <div class="online-circle">
                    <i class="fa fa-circle text-success"></i>
                  </div>
                  <h4 class="mt-3">{{ usuario.username }}</h4>
                  <p class="text-muted font-size-13">Funcionário</p>

                  <ul class="list-unstyled list-inline mt-3 text-muted">
                    <li class="list-inline-item font-size-13 me-3">
                      <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                        <li class="nav-item">
                          <a class="btn btn-pink btn-round px-5" data-bs-toggle="tab" href="#settings" role="tab">Editar</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
          <!-- end col -->

          <div class="col-xl-9">
            <div class="">
              <div class="custom-tab tab-profile">
                <!-- Nav tabs -->
                <!--  <ul class="nav nav-tabs nav-tabs-custom" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link pb-3 pt-0" data-bs-toggle="tab" href="#settings" role="tab"><i class="fas fa-cog me-2"></i>Settings</a>
                                </li>
                            </ul>  -->

                {% if formCadastrar.errors %}
                  <div class="alert alert-danger">
                    <strong>{{ formCadastrar.errors }}</strong>
                  </div>
                {% endif %}

                <!-- Tab panes -->
                <div class="tab-content pt-4">
                  <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="">
                              <form class="form-horizontal form-material mb-0" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" id="input-file-now-custom-1" name="img" class="dropify" data-default-file="" />
                                {% comment %} {{ formCadastrar.img }} {% endcomment %}

                                <div class="mb-3">{{ formCadastrar.nome }}</div>

                                {% comment %}
                                <div class="row">
                                  <div class="col-md-4 mb-3">
                                    <input type="password" placeholder="Antiga Senha" name="oldpassword" class="form-control" id="example-email" />
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <input type="password" placeholder="Nova Senha" name="newpassword" class="form-control" />
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <input type="password" name="confirm_password" class="form-control" placeholder="Confirmar Senha" />
                                  </div>
                                </div>
                                {% endcomment %}
                                <div class="row">
                                  <div class="col-md-4 mb-3">{{ formCadastrar.numero }}</div>
                                  <div class="col-md-4 mb-3">{{ formCadastrar.endereco }}</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6 mb-3">
                                    <select class="form-control" name="genero">
                                      {% for genero in formCadastrar.genero %}
                                        <option>{{ genero }}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                                <div class="mb-3">
                                  <button class="btn btn-primary btn-sm text-light px-4 mt-3 float-end mb-0">Editar Perfil</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% include 'BackEnd/layout/footer.html' %}
  </div>
{% endblock %}
