{% load static %}

<section class="services-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Factos Interessantes</span>
                    <h2>Conquistas Da Empresa</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-cap">
                        <span>{{N_cli}}</span>
                        <p>Numeros de clientes satisfeitos com nossos serviços.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-cap">
                        <span>{{N_Res}}+</span>
                        <p>Os processos das roupas que vão máquinas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-cap">
                        <span>100%</span>
                        <p>Em oferecer serviços de qualidade.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="bottom-bt">
                        <img src="{% static 'frontEnd/assets/img/gallery/company-bg.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>