{% extends "Portifolio/layout/app.html" %} {% load static %} 

{% block titulo %}
Home
{% endblock %}

{% block Conteudo %}
<!--? slider Area Start-->
<section class="slider-area hero-overly">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-lg-9 col-md-10 col-sm-9">
            <div class="hero__caption">
              <h1 data-animation="fadeInLeft" data-delay="0.2s">
                Qualidade de Serviços Garantido
              </h1>
              <p data-animation="fadeInLeft" data-delay="0.4s">
                Nós Cuidados do Bem-Estar das Suas Roupas
              </p>
              <a
                href=""
                class="btn hero-btn"
                data-animation="fadeInLeft"
                data-delay="0.7s"
                >Explore Nossos Serviços</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "Portifolio/nossoProcesso.html" %}
<!-- slider Area End-->
<!--? Services Area Start -->
{% include "Portifolio/nossoServico.html" %} 
{% include "Portifolio/Reservas.html"%} 
{% include "Portifolio/FeedBacks.html" %} 
{% include "Portifolio/Estatistica.html" %}
{% include "Portifolio/Sobre.html" %} 
{% endblock %}


