{% load static %}

<section class="services-area pt-top border-bottom pb-20 mb-60">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Nosso Processo</span>
                    <h2>Como Nós Trabalhamos</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services-icon1.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Colecta Das Roupas</a></h5>
                        <p>A lavagem é feita por cestos de roupas, o cesto com limites de até 25 peças se forem  leves, 
                            15 peças se forem jeans e 6 peças se forem lençóis ou cortinas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services-icon2.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Lavagens Das Roupas</a></h5>
                        <p>A lavagem é barata e acessível para qualquer bolso, lavas por quantidade, pagas por cada cesto que tiveres, seja económico e Feliz!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center">
                    <div class="cat-icon">
                        <img src="{% static 'assets/img/icon/services-icon3.svg' %}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Recolha das Peças</a></h5>
                        <p>Depois da lavagem tens a liberdade de poder recolher e levar em sua casa, suas peças secas e bem engomadas, se quiser e é só alegria!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>