{% extends 'Portifolio/layout/app.html' %}

{% load static %}

{% block titulo %}
  Fazer Pedidos
{% endblock %}

{% block Conteudo %}
  <main>
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'frontEnd/assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Pedidos</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <h3 class="mb-30">Faça Pedido de Reserva para Lavar suas Roupas</h3>
              <form action="#">
                {% comment %} <div class="mt-10">
                  <input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input" />
                </div>
                <div class="mt-10">
                  <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input" />
                </div>
                <div class="mt-10">
                  <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input" />
                </div>
                <div class="mt-10">
                  <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input" />
                </div>
                <div class="input-group-icon mt-10">
                  <div class="icon">
                    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                  </div>
                  <input type="text" name="address" placeholder="Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required class="single-input" />
                </div>
                <div class="input-group-icon mt-10">
                  <div class="icon">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                  </div> {% endcomment %}
                  <div class="form-select" id="default-select">
                    <select>
                      <option value=" 1">Seleccione a Loja</option>
                      <option value="1">Dhaka</option>
                      <option value="1">Dilli</option>
                      <option value="1">Newyork</option>
                      <option value="1">Islamabad</option>
                    </select>
                  </div>

                  <div class="input-group-icon mt-10">
                    
                    <input type="text" name="address" placeholder="Quantidade de Cestos" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Quantidade de Cestos'" required class="single-input" />
                  </div>

                  <div class="single-element-widget mt-30">
                    <h3 class="mb-30">Serviços</h3>
                    <div class="switch-wrap d-flex justify-content-between">
                      <p>Lavagem</p>
                      <div class="primary-checkbox">
                        <input type="checkbox" id="default-checkbox" />
                        <label for="default-checkbox"></label>
                      </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between">
                      <p>Secagem</p>
                      <div class="primary-checkbox">
                        <input type="checkbox" id="primary-checkbox" checked />
                        <label for="primary-checkbox"></label>
                      </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between">
                      <p>Engomagem</p>
                      <div class="primary-checkbox">
                        <input type="checkbox" id="confirm-checkbox" checked />
                        <label for="confirm-checkbox"></label>
                      </div>
                    </div>

                    <button type='submit' class="genric-btn primary radius"> Fazer Pedido</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
