{% extends 'Portifolio/layout/app.html' %} 

{% load static %}

{% block titulo %}
  Pedidos
{% endblock %}

{% block Conteudo %}
  <main>
    <!-- ? Hero Start -->
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'frontEnd/assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Pedidos</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->
    <!-- ? Start Sample Area -->
    <section class="sample-text-area">
      <div class="container box_1170">
        <h3 class="text-heading">Pedidos</h3>
        Aqui você verá todos os pedidos de reservas feitos dos seus produtos e cestos.
      </div>
    </section>
    <!-- End Sample Area -->
    <!-- End Button -->
    <!-- ? Start Align Area -->
    <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border text-right">
          <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Coloque o Código'" placeholder="Coloque o Código">
          {% comment %} <h3 class="mb-30">Right Aligned</h3> {% endcomment %}
          <div class="row">
            <div class="col-md-9">
              <p class="text-right">
                Se Já Fez seu pedido para os nossos serviços <br>
                Pesquise o código aqui para saber o estado do seu pedido
              </p>
             </div>
          </div>
          </div>
        </div>
      </div>
    </div>
        
      <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border">
          <h3 class="mb-30">Pedidos</h3>
          {% comment %} Colocar O Pedido Gerado aqui {% endcomment %}
        </div>
      </div>
    </div>
    <!-- End Align Area -->
  </main>
{% endblock %}
