{% extends 'Portifolio/layout/app.html' %}

{% load static %}

{% block titulo %}
  Fazer Pedidos
{% endblock %}

{% block Conteudo %}
  <main>
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'frontEnd/assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Reservas</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <h3 class="mb-30">Faça Pedido de Reserva para os nossos serviços</h3>
              {% if Existe_servico %}
              
              
              <form action="" method="POST">
                {% csrf_token %}
                {% if FormCliente.errors %}
                {% for error in FormCliente.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}
                {% endif %}
                {% if formReserva.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ formReserva.errors }}</strong>
                    </div>
                {% endif %}
                {% if FormServicosReservados.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ FormServicosReservados.errors }}</strong>
                    </div>
                {% endif %}
                
                <div class="mt-10">
                  <label for="">{{ FormCliente.nome.label }}</label>
                  {{ FormCliente.nome }}
                </div>
                <div class="mt-10">
                  <label for="">{{ FormCliente.email.label }}</label>
                  {{ FormCliente.email }}
                </div>

                <div class="row gx-3">
                  <div class="col-md-6">
                      <div class="mb-3">
                        
                  <label for="">{{ FormCliente.numero.label }}</label>
                  {{ FormCliente.numero }}
                      </div>
                  </div>
                  <div class="col-md-6">
                    <label for="">{{ FormCliente.genero.label }}</label>
                      <div class="mb-3">
                  {{ FormCliente.genero }}
                      </div>
                  </div>
                </div>
                
                <div class="row gx-3">
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label>{{ formReserva.data_entrada.label }}</label>
                        {{ formReserva.data_entrada }}
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label for="">Quantidade p/ Cesto</label>
                        {{ FormServicosReservados.qtd }}
                      </div>
                  </div>
                </div>

                  <div class="single-element-widget mt-30">

                    <label for="">{{ FormServicosReservados.servicos.label }}</label>
                    <h4>

                      {{ FormServicosReservados.servicos }}
                    </h4>
                    <br>
                    
                  </div>

                  <div class="row gx-3">
                    <div class="col-md-12">
                      <label for="">OBS:</label>
                      {{ formReserva.obs }}
                      <div class="mb-3">
                      </div>
                    </div>
                    
                    
                  </div>
                  <br>
                  <br>
                    <button type='submit' class="genric-btn primary radius" > Fazer Pedido</button>
                </div>
              </form>
              {% else %}
              <h2>Não Existe Serviço Cadastrado</h2>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
