{% extends 'Portifolio/layout/app.html' %} 

{% load static %}

{% block titulo %}
  Pedidos
{% endblock %}

{% block Conteudo %}
  <main>
    <!-- ? Hero Start -->
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'frontEnd/assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Reservas</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->
    <!-- ? Start Sample Area -->
    <section class="sample-text-area">
      <div class="container box_1170">
        <h3 class="text-heading">Pedidos</h3>
        Aqui você verá todos os pedidos de reservas feitos dos seus produtos e cestos.
      </div>
    </section>
    <!-- End Sample Area -->
    <!-- End Button -->
    <!-- ? Start Align Area -->
    <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border text-right">
          
          <div class="row">
            <div class="col-md-9">
              <p class="text-right">
                Se Já Fez seu pedido para os nossos serviços <br>
                Pesquise o código aqui para saber o estado do seu pedido
              </p>
              <form method="POST" action="{% url 'buscar_reserva' %}" style="display: flex;
  align-items: center;
  justify-content: flex-end; width: 100%; ">
              {% csrf_token %}
              <input class="single-input" name="codigo_reserva" id="pesqCod" type="text" onfocus="this.placeholder = ''" 
              onblur="this.placeholder = 'Pesquise o Código de Sua Reserva'" placeholder="Coloque o Código"
              style="width: 300px;">
              <button type="submit" class="genric-btn btn btn-primary radius" style="flex-shrink: 0;">Pesquisar</button>
            </form>
             </div>
          </div>
          </div>
        </div>
      </div>
    </div>
        
    <div class="whole-wrap" id="conteudo">
      <div class="container box_1170">
        <div class="section-top-border">
          <h3 class="mb-30">Pedidos</h3>

          {% if Reserva %}
          <ul>
            <li><h3>Codigo de Reserva: {{ Reserva.codigo_reserva }}</h3></li>
            <li><h3>Data de Entrada: {{ Reserva.data_entrada }}</h3></li>
            <li><h3>Cliente: {{ Reserva.cliente.nome }}</h3></li>
            <li><h3>Serviços</h3></li>
              <ol>
                {% for SR in servicoReservado %}
                <li><h3>{{ SR.servico.nome }}</h3></li>
                {% endfor %}
              </ol>
            <li><h3>Total a Pagar: {{ Reserva.total }}</h3></li>
            {% if Reserva.estado == 1 %}
            <li><h3>Estado: <strong style="color:yellow">EM PROCESSAMENTO</strong></h3></li>
            {% elif Reserva.estado == 0 %}
            <li><h3>Estado: <strong style="color:red">PENDENTE</strong></h3></li>
            <li><h3><p>Desloca-se a nossa loja para por poder fazer o uso dos serviço, 
              para baixar o comprovativo de reserva <a href="{% url 'gerarPDF' Reserva.id %}">clique aqui</a> </p></h3></li>
              {% else %}
              <li><h3>Estado: <strong style="color:yellow">ATENDIDO</strong></h3></li>
              {% endif %}
            </ul>
            {% endif %}
          {% comment %} Colocar O Pedido Gerado aqui {% endcomment %}
        </div>
      </div>
    </div>
    <!-- End Align Area -->
  </main>
{% endblock %}
