{% extends 'Portifolio/layout/app.html' %}

{% load static %}

{% block titulo %}
  Fazer Pedidos
{% endblock %}

{% block Conteudo %}
  <main>
    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'frontEnd/assets/img/hero/hero2.png' %}">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2">
                <h2>Pedidos</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="whole-wrap">
      <div class="container box_1170">
        <div class="section-top-border">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <h3 class="mb-30">Faça Pedido de Reserva para Lavar suas Roupas</h3>
              {% if Existe_servico %}
              
              
              <form action="" method="POST">
                {% csrf_token %}
                {% if FormCliente.errors %}
                {% for error in FormCliente.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error }}</strong>
                              </div>
                {% endfor %}
                {% endif %}
                {% if formReserva.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ formReserva.errors }}</strong>
                              </div>
                {% endif %}
                {% if FormServicosReservados.errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ FormServicosReservados.errors }}</strong>
                              </div>
                {% endif %}
                {% comment %} <div class="mt-10">
                  {{ FormCliente.nome }}
                </div>
                <div class="mt-10">
                  {{ FormCliente.numero }}
                </div> {% endcomment %}
                <div class="mt-10">
                  {{ FormCliente.as_p }}
                </div>
                {% comment %} <br>
                  <div class="form-select" id="default-select">
                    {{ FormCliente.genero }}
                  </div> {% endcomment %}

                  <div class="mt-1<0">
                    <label>{{ formReserva.data_entrada.label }}</label>
                    {{ formReserva.data_entrada }}
                  </div>

                  <div class="input-group-icon mt-10">
                    {{ FormServicosReservados.qtd }}
                  </div>

                  <div class="single-element-widget mt-30">
                    {{ FormServicosReservados.servicos }}
                  </div>
                    <button type='submit' class="genric-btn primary radius"> Fazer Pedido</button>
                </div>
              </form>
              {% else %}
              <h2>Não Existe Serviço Cadastrado</h2>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
