{% load static %}

<section class="offer-services pb-bottom2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Serviços</span>
                    <h2>Serviços Que oferecemos</h2>
                </div>
            </div>
        </div>
        <div class="row no-gutters">

            {% for servico in Servicos %}
            {% if forloop.counter|divisibleby:2 %}

                <div class="col-lg-6 col-md-6">
                    <div class="single-offers">
                        <img src="{{ servico.img.url }}" alt="" class=" w-100">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-offers">
                        <img src="{% static 'frontEnd/assets/img/gallery/offers2.png' %}" alt="" class=" w-100">
                        <div class="offers-caption text-center">
                            <div class="cat-icon">
                                <img src="{% static 'frontEnd/assets/img/icon/offers-icon1.png' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">{{ servico.nome }}</a></h5>
                                <p>{{ servico.descricao }} ao preço de {{ servico.preco }} Kz</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            {% else %}


                <div class="col-lg-6 col-md-6">
                    <div class="single-offers">
                        <img src="{% static 'frontEnd/assets/img/gallery/offers2.png' %}" alt="" class=" w-100">
                        <div class="offers-caption text-center">
                            <div class="cat-icon">
                                <img src="{% static 'frontEnd/assets/img/icon/offers-icon1.png' %}" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">{{ servico.nome }}</a></h5>
                                <p>{{ servico.descricao }} ao preço de {{ servico.preco }} Kz</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single-offers">
                        <img src="{{ servico.img.url }}" alt="" class=" w-100">
                    </div>
                </div>

            {% endif %}
        {% endfor %}


        </div>
    </div>
</section>