{% load static %}

<section class="offer-services pb-bottom2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <span class="element">Serviços</span>
                    <h2>Serviços Que oferecemos</h2>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6">
                <div class="single-offers">
                    <img src="{% static 'frontEnd/assets/img/gallery/offers1.png' %}" alt="" class=" w-100">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-offers">
                    <img src="{% static 'frontEnd/assets/img/gallery/offers2.png' %}" alt="" class=" w-100">
                    <div class="offers-caption text-center">
                        <div class="cat-icon">
                            <img src="{% static 'frontEnd/assets/img/icon/offers-icon1.png' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Lavagem De Roupas</a></h5>
                            <p>Por Cada Cesto tens a vantagem de fazer lavagens de 15 peças leves, 6 peças pesadas e 10 peças jeans.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-offers">
                    <img src="{% static 'frontEnd/assets/img/gallery/offers2.png' %}" alt="" class=" w-100">
                    <div class="offers-caption text-center">
                        <div class="cat-icon">
                            <img src="{% static 'frontEnd/assets/img/icon/offers-icon1.png' %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Engomagem de Roupas</a></h5>
                            <p>Peças afinadas e requintadas, só com um bom vinco são reconhecidas e elogiadas pelas pessoas, não fique de fora da moda.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-offers">
                    <img src="{% static 'frontEnd/assets/img/gallery/offers4.png' %}" alt="" class=" w-100">
                </div>
            </div>
        </div>
    </div>
</section>