{% load static %}


    <div class="slider-area2 section-bg2 hero-overly" data-background="{% static 'assets/img/hero/hero2.png' %}">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2">
                            <h2>Sobre Nós</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? About Area  -->
    {% include "frontEnd/SobreNos.html" %}
    <!-- About Area End -->
    <!--? Services Area Start -->
    {% include "frontEnd/nossoProcesso.html" %}
    <!-- Services End -->
    <!--? Want To work -->
    {% include "frontEnd/Reservas.html" %}
    <!-- Want To work End -->
    <!--? Testimonials_start -->
    {% include "frontEnd/FeedBacks.html" %}
    <!-- Testimonials_end -->
    <!--? Company achievement Start -->
    {% include "frontEnd/Estatistica.html" %}
    <!-- Company achievement End -->
