{% extends 'admin/base_site.html' %}

{% load static %}

{% block content %}

<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- ESTATISTICA -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ CliAtendido }}</h3>

                <p>Clientes Atendidos</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <!--<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>-->
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
              <div class="inner">
                {% if ValorVendido %}
                <h3>{{ ValorVendido }}<sup style="font-size: 20px"></sup></h3>
                {% else %}
                <h3>0<sup style="font-size: 20px"></sup></h3>
                {% endif %}
                <p>Total Arrecadado</p>
              </div>
              <div class="icon">
                <i class="fa fa-signal" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>Comentários</p>
              </div>
              <div class="icon">
                <i class="fa fa-comments"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </div>
          </div>
        </div>
        <!-- FIM ESTATISTICA -->

        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Vendas X Serviços</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>

              <div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <div id="chart-2" height="100" width="424" style="display: block; width: 424px; height: 100px;" class="chartjs-render-monitor"></div>
              </div>

            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">Vendas</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>
              
              <div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div id="chart" height="100" width="424" style="display: block; width: 424px; height: 100px;" class="chartjs-render-monitor"></div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
        </div>
          

        <div class="row">
          <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Atendimento X Cliente</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <div id="chart-3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- DONUT CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Gráfico de Satisfação</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body" style="display: block;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div id="chartSat" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250" class="chartjs-render-monitor"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- PIE CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Reservas Por Dia</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body" style="display: block;"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <div id="chart-reservas-dia" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250" class="chartjs-render-monitor"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Reservas Por Cliente</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <div id="chart-reservas-cliente" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250" class="chartjs-render-monitor"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Receitas Por Periodo</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <div id="receitaPeriodochart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250" class="chartjs-render-monitor"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- STACKED BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Gráfico De Periodo</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <div id="chart-timeline" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 397px;" width="397" height="250" class="chartjs-render-monitor"></div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (RIGHT) -->
        </div>
      </div>
      <div class="col-lg-3 col-12">
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h4 class="mb-3">Comentários recentes</h4>
                
                
                
                <div class="timeline">
                  {% for feedback in feedbacks %}
                  <div>
                      <i class="fas fa-comments bg-success text-xs"></i>
              
                      <div class="timeline-item">
                          <span class="time"><i class="fas fa-clock"></i> {{ feedback.data|timesince }} ago</span>
                          <h3 class="timeline-header no-border">
                              <a href="/admin/FuncDashboard/cliente/{{ feedback.cliente.id }}">{{ feedback.cliente.nome }}</a>
                          </h3>
              
                          <div class="timeline-body">
                              <p>{{ feedback.comentario }}</p>
                              <p>Avaliação: {{ feedback.avaliacao }} estrelas</p>
                          </div>
                      </div>
                  </div>
                  {% empty %}
                  <p>Sem feedbacks recentes.</p>
                  {% endfor %}
                  
                  <div>
                      <i class="fa fa-clock bg-gray"></i>
                  </div>
              </div>
              
                
            </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>



  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script>
        // Obtém os dados do contexto Django
        var counts = {{ counts|safe }};

        var options = {
          series: counts,
          chart: {
            type: 'polarArea',
          },
          labels: ['Pendente', 'Em Processamento', 'Atendidos'],
          stroke: {
            colors: ['#fff']
          },
          fill: {
            opacity: 0.8
          },
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        //REnderizar ou GRÀFICO
        var categorias = {{ categorias|safe }};
            var valores = {{ valores|safe }};

            var options2 = {
                series: [{
                    name: 'Total de Pagamentos',
                    data: valores
                }],
                chart: {
                    type: 'bar',
                    height: 350
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '55%',
                        endingShape: 'rounded'
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                xaxis: {
                    categories: categorias,
                },
                yaxis: {
                    title: {
                        text: 'kz (Mil)'
                    }
                },
                fill: {
                    opacity: 1
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return "kz " + val + " Mil"
                        }
                    }
                }
            };

            var chart2 = new ApexCharts(document.querySelector("#chart-2"), options2);
            chart2.render();


        //GRAFICO DE FUNCIONARIO
         // Obtendo os dados do contexto Django
         var categoriasF = {{ categoriasF|safe }};
            var valores_str = {{ valoresF|safe }};
            
            // Convertendo strings de volta para números
            var valoresF = valores_str.map(function(val) {
                return parseInt(val);
            });

            var options3 = {
                series: [{
                    name: 'Reservas Atendidas',
                    data: valoresF
                }],
                chart: {
                    type: 'line',
                    height: 350
                },
                stroke: {
                    width: 7,
                    curve: 'smooth'
                },
                xaxis: {
                    categories: categoriasF,
                    title: {
                        text: 'Funcionários'
                    }
                },
                yaxis: {
                    title: {
                        text: 'Reservas Atendidas'
                    }
                },
                markers: {
                    size: 4
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val + " reservas atendidas"
                        }
                    }
                }
            };

            var chart3 = new ApexCharts(document.querySelector("#chart-3"), options3);
            chart3.render();

            //GRÁFICOS DE PADRÕES DE RESERVAS
            // Dados fornecidos pelo Django
        const reservasPorDia = {{ reservas_por_dia|safe }};
        const reservasPorCliente = {{ reservas_por_cliente|safe }};

        const categoriasDia = reservasPorDia.map(item => item.data_reserva);
        const quantidadesDia = reservasPorDia.map(item => item.quantidade);

        var optionsDia = {
            series: [{
                name: "Reservas",
                data: quantidadesDia
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'Padrões de Reservas por Dia',
                align: 'left'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // cores alternadas nas linhas
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: categoriasDia,  // datas das reservas
            }
        };

        var chart_reservas_dia = new ApexCharts(document.querySelector("#chart-reservas-dia"), optionsDia);
        chart_reservas_dia.render();
      

        // Transformando os dados para o gráfico de frequência de reservas por cliente
        const seriesCliente = reservasPorCliente.map(item => ({
            x: item.cliente__nome,
            y: item.quantidade
        }));

        // Gráfico de barras para frequência de reservas por cliente
        const optionsCliente = {
            chart: {
                type: 'bar',
                height: 350
            },
            series: [{
                name: 'Reservas',
                data: seriesCliente
            }],
            xaxis: {
                type: 'category',
                title: {
                    text: 'Clientes'
                }
            },
            title: {
                text: 'Frequência de Reservas por Cliente (Mês Atual)'
            }
        };

        const chartCliente = new ApexCharts(document.querySelector("#chart-reservas-cliente"), optionsCliente);
        chartCliente.render();

        //GRAFICO RECEITAS POR PERIODO
        const receitaPorMes = {{ receita_por_mes|safe }};
        
        // Extrair meses e total de receita
        const meses = receitaPorMes.map(item => item.mes);
        const totalReceita = receitaPorMes.map(item => item.total_receita);

        var optionsMes = {
            series: [{
                name: "Receita",
                data: totalReceita
            }],
            chart: {
                height: 350,
                type: 'area',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Análise de Receita por Mês',
                align: 'left'
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'], // cores alternadas nas linhas
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: meses,  // meses das receitas
                title: {
                    text: 'Meses'
                }
            },
            yaxis: {
                title: {
                    text: 'Total da Receita'
                }
            }
        };

        var receitaPeriodochart = new ApexCharts(document.querySelector("#receitaPeriodochart"), optionsMes);
        receitaPeriodochart.render();

        //GRÀFICO DE SATISFAÇÂO
        var optionsS = {
          series: {{ seriesS|safe }},
          chart: {
            width: 380,
            type: 'pie',
          },
          labels: {{ labelsS|safe }},
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
        };

        var chartS = new ApexCharts(document.querySelector("#chartSat"), optionsS);
        chartS.render();
      
    </script>


{% endblock %}
