{% load static %}

<div class="vertical-menu">
        <div data-simplebar class="h-100">
          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title">Main</li>

              <li>
                <a href="{% url 'FuncDashBoard' %}" class="waves-effect">
                  <i class="mdi mdi-speedometer"></i>
                  <span>HOME</span>
                </a>
              </li>

              <!-- Calender -->
              <li class="menu-title">PÁGINA INICIAL</li>
                <li>
                <a href="{% url 'marcacao' %}" class="waves-effect">
                  <i class="mdi mdi-calendar"></i>
                  <span class="badge rounded-pill bg-danger float-end">9+</span>
                  <span>Marcações</span>
                </a>
              </li>
                <!-- Charts -->
                {% comment %} 
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="mdi mdi-speedometer"></i>
                        <span>Relactórios</span>
                    </a>
                </li> {% endcomment %}
            </ul>
          </div>
          <!-- Sidebar -->
        </div>
      </div>